extends /layout
include /_includes/_mixins

block prepend title
    - var pageTitle = ' | Basic Typography'

//- This passes a custom stylesheet into the layout
block prepend stylesheets
    link(rel='stylesheet', href='/css/customview.css')

block content
    include /_partials/_nav-mobile
    header.masthead.container-image-fill(data-interchange='[/img/data-distortion-textures-@1x.png, small], [/img/data-distortion-textures-@2x.png, large]')
        include /_partials/_nav-primary
        .row
            .small-12.columns
                //- get the page title & description from the global nav data object; id is position in object
                +pageHeader(3)
    main
        section#content-top.section-article
            //- === tabs component needs formatting improvements. Sample code: 
            //- ul#card-options.tabs(data-tabs)
            //-     li.tabs-title.is-active
            //-         a(href='#panel1', aria-selected='true') Tab one
            //-     li.tabs-title
            //-         a(href='#panel2') Tab 2
            //-     li.tabs-title
            //-         a(href='#panel3') Tab 3
            //- 
            //- .tabs-content(data-tabs-content='card-options')
            //-     #panel1.tabs-panel.is-active
            //-     #panel2.tabs-panel
            //-     #panel3.tabs-panel
            .row
                .columns.small-12.section-article--header-group
                    h1.section-article--header N-up content blocks
                    hr.divider
                    h3 Uses the flexbox n-up responsive grid
            .row.small-up-1.medium-up-2.large-up-3
                .column
                    h3 Scripts
                    p.lead Pre-configured bundles of EHR integrations that solve specific workflow requirements.
                    p Scripts are custom-built workflows for digital health use cases. You select a Script such as enrolling patients in your application for a care management solution, collecting patient data for a clinical research platform, writing orders for a telemedicine services, or scheduling patients within patient portals. We do the rest.
                    button.button.button-hollow View example Scripts
                .column
                    h3 Connectors
                    p.lead Streamline VPN connectivity to secure connections with any partner. Connectors scale as you scale.
                    p EHR integration is only part of your challenge. You also need to create and manage secure connections, typically via VPN, to health systems. This challenge grows exponentially at scale. Redpoint Connectors automate the creation and management of secure connections, eliminating that burden for you. It's magic your salespeople will love.
                    button.button.button-hollow Learn more
                .column
                    h3 Bearings
                    p.lead Pre-configured bundles of EHR integrations that solve specific workflow requirements.
                    p Scripts are custom-built workflows for digital health use cases. You select a Script such as enrolling patients in your application for a care management solution, collecting patient data for a clinical research platform, writing orders for a telemedicine services, or scheduling patients within patient portals. We do the rest.
                    button.button.button-hollow Learn more
        section#lists-entries.section-article
            .row
                .columns.small-12.section-article--header-group
                    h1.section-article--header Page Lists
                    hr.divider
                    h3 Thumbnail image on the side
            .row.item-list.group
                .columns.medium-4.small-3.large-2
                    img(src="https://d13yacurqjgara.cloudfront.net/users/125948/screenshots/2857497/finding-ways-icon_1x.png")
                .columns.medium-8.small-9.large-10
                    h3.section-article--block-header= loremBlocks[0].title
                    p= loremBlocks[0].body
            .row.item-list.group
                .columns.medium-4.small-3.large-2
                    img(src="https://d13yacurqjgara.cloudfront.net/users/450804/screenshots/2857249/desktop_hd_1x.png")
                .columns.medium-8.small-9.large-10
                    h3.section-article--block-header= loremBlocks[0].title
                    p= loremBlocks[1].body
            .row.item-list.group
                .columns.medium-4.small-3.large-2
                    img(src="https://d13yacurqjgara.cloudfront.net/users/895215/screenshots/2858162/stats_preview_1x.png")
                .columns.medium-8.small-9.large-10
                    h3.section-article--block-header= loremBlocks[0].title
                    p= loremBlocks[2].body

block footer
    include /_partials/_footer
